head
    meta(charset='utf-8')
    title Тетрадь в линейку 
    link(href='https://fonts.googleapis.com/css?family=PT+Serif&display=swap' rel='stylesheet')
    link(rel='icon' href='/app/assets/favico.png' type='image/x-icon')
style(type='text/css').
    body {
        margin: 0;
        padding: 0;
        background: gray;
    }
    #fullpage {
        width: 100vw;
        height: 100vh;
        background: white url(/assets/ruledbook.png) no-repeat center center;
    }
    .block {
    }
body
    #fullpage
        p hello 3
        img(src="/assets/ruledbook.png")